
whitenoise
sentinelhub
numpy
Pillow
geojson
matplotlib
pystac
pystac_client
scikit-image
pandas
folium
geopandas
Fiona
branca
python-csv==0.0.10
psycopg2
leaflet
Django==4.2.1
django-geojson==4.0.0
django-leaflet==0.29.0
Pillow==9.5.0